<main class="pa4 black-80">
    <form class="measure center" id="commentForm" method="GET">
        <div class="pv4">
            {{{commentHTML}}}
        </div>
        <div class="">
          <input formaction="publish/1" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Publish">
          <input formaction="publish/0" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Reject">
        </div>
        <div class="pt4">
            <a href="/moderate" class="black">Back to moderate page</a>
        </div>
    </form>
</main>
