<main class="pa4 black-80">
    <form class="measure center" action="/moderate/login/submit?pin={{pin}}" method="POST">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Sign In</legend>
      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="username">Username</label>
        <input class="b pa2 input-reset ba bg-transparent w-100" type="text" name="username" id="username">
      </div>

      <div class="mv3">
        <label class="db fw6 lh-copy f6" for="password">Password</label>
        <input class="b pa2 input-reset ba bg-transparent w-100" type="password" name="password" id="password">
      </div>
    </fieldset>
    <div class="">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Sign in">
    </div>
  </form>
</main>
