<!--BLOCK(taglink)-->
<a class="tag-link" href="{{href}}">{{text}}</a>

<!--BLOCK(crumbnav)-->
<nav class="crumb-nav mb5">
  {{{text}}}
</nav>

<!--BLOCK(crumblink)-->
<a class="crumb-link f5" href="{{href}}">{{text}}</a>

<!--BLOCK(crumbtitle)-->
<span class="crumb-title f5">{{text}}</span>

<!--BLOCK(crumbseparator)-->
<span class="crumb-separator f7 mh1">/</span>

<!--BLOCK(h2)-->
<h2>{{text}}</h2>

<!--BLOCK(comment)-->
<div class="st-comment">
    <div class="st-comment-date">{{date}}</div>
  <div class="st-comment-content">
  {{{text}}}
  </div>
</div>
